<div class="row justify-content-center">
    <div class="col-8">
        <h2 id="jhi-word-heading">Create or select a dictionary</h2>

        <jhi-alert-error></jhi-alert-error>
        <form name="uploadForm" role="form" novalidate (ngSubmit)="onUpload()" #form="ngForm">
            <div class="row justify-content-center">
                <div class="col-8 col-md-4 rounded border border-primary mx-3">
                    <h3>Select a dictionary</h3>
                    <div class="form-group">
                        <label for="field_dictionary">Dictionary: </label>
                        <select class="form-control" id="field_dictionary" name="dictionary"
                                [(ngModel)]="selectedDictionary"
                                [disabled]="!(dictionary.title === undefined || (form.controls.title?.dirty && dictionary.title ===''))">
                            <option [ngValue]="dictionary"
                                    *ngFor="let dictionary of dictionaries">{{dictionary.title}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-8 col-md-4 rounded border border-primary mx-3">
                    <h3>Create a dictionary</h3>
                    <div class="form-group">
                        <label class="form-control-label" for="field_title">Title: </label>
                        <input type="text" class="form-control" name="title" id="field_title" #newTitle="ngModel"
                               [(ngModel)]="dictionary.title"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_isPrivate">Is Private: </label>
                        <input type="checkbox"  name="isPrivate" id="field_isPrivate"
                               [(ngModel)]="dictionary.isPrivate"/>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-around mt-3">
                    <label class="btn btn-info">
                        <span *ngIf="hasFile; else chooseFile">{{uploadedFile.name}}</span>
                        <ng-template #chooseFile><fa-icon [icon]="'cloud'"></fa-icon>&nbsp;Choose File</ng-template>
                        <input name="File"
                               type="file"
                               accept=".csv, text/plain"
                               required
                               hidden
                               (change)="onFileImport($event.target.files)">
                    </label>
                    <button type="submit" id="save-entity" [disabled]="!hasFile"
                            class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save words</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
