<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome, Glossary.</h1>
        <p class="lead">This is your hub for vocabulary. Collect words from different sources to one place.</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
        <div class="card-deck ">
            <div class="card border-info">
                <img class="card-img-top" src="../../content/images/import/spreadsheet.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Import from file</h4>
                    <p class="card-text">
                        You can import your list of the vocabulary from plain .txt file or export your spreadsheet into
                        CSV.
                        <a routerLink="help/import-csv">
                            <fa-icon [icon]="'question-circle'"></fa-icon>
                        </a>
                    </p>
                    <a class="btn btn-primary btn-block" routerLink="import/csv">Import</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../content/images/import/marker.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Highlight words from text</h4>
                    <p class="card-text">
                        Import text file or paste copied text. You can save highlighted words into your dictionary.
                    </p>
                    <div class="text-center">
                        <a class="btn btn-primary btn-block" routerLink="word-chooser/highlight">Paste</a>
                        <a href="#!" class="btn btn-primary btn-block" routerLink="import/txt">Import .txt</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../content/images/import/kindle2.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Import from Kindle</h4>
                    <p class="card-text">
                        You can import your words from Vocabulary Builder. Look up how to do it.
                        <a routerLink="help/import-kindle">
                            <fa-icon [icon]="'question-circle'"></fa-icon>
                    </a>
                    </p>
                    <a class="btn btn-primary btn-block" routerLink="import/kindle">Import vocab.db</a>
                </div>
            </div>
            <div class="card bg-secondary   ">
                <img class="card-img-top" src="../../content/images/import/movie.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Import from subtitle</h4>
                    <p class="card-text">
                        You can import subtitle from .srt file. The sentences will be shuffled.
                    </p>
                    <a class="btn btn-primary btn-block" routerLink="word-chooser/subtitle">Import subtitle</a>
                </div>
            </div>
        </div>
    </div>
</div>
