<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="example">
            <h2><span>Example</span> {{example.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Example Text</span></dt>
                <dd>
                    <span>{{example.exampleText}}</span>
                </dd>
                <dt><span>Word</span></dt>
                <dd>
                    <div *ngIf="example.word">
                        <a [routerLink]="['/word', example.word?.id, 'view']">{{example.word?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/example', example.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
