<div>
    <h2 id="page-heading">
        <span>Examples</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-example" [routerLink]="['/example/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Example
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="examples">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Example Text</span></th>
            <th><span>Word</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let example of examples ;trackBy: trackId">
                <td><a [routerLink]="['/example', example.id, 'view' ]">{{example.id}}</a></td>
                <td>{{example.exampleText}}</td>
                <td>
                    <div *ngIf="example.word">
                        <a [routerLink]="['../word', example.word?.id, 'view' ]" >{{example.word?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/example', example.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/example', example.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'example/'+ example.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
